src/stateMachines/SpokeAccountStateMachine.json
{
  "StartAt": "Initialize",
  "States": {
    "Initialize": {
      "Type": "Pass",
      "Next": "Search",
      "Result": {
        "NextToken": null,
        "PreviousResults": []
      }
    },
    "Search": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${SEARCH_FUNCTION}",
        "Payload": {
          "NextToken.$": "$.NextToken"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "For each resource",
      "ResultSelector": {
        "Result.$": "States.StringToJson($.Payload)"
      },
      "ResultPath": "$.Payload"
    },
    "For each resource": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Extract tags if the exist",
        "States": {
          "Extract tags if the exist": {
            "Type": "Pass",
            "Parameters": {
              "Arn.$": "$.Arn",
              "OwningAccountId.$": "$.OwningAccountId",
              "Region.$": "$.Region",
              "ResourceType.$": "$.ResourceType",
              "Service.$": "$.Service",
              "Tags.$": "$.Properties[?(@.Name==tags)]",
              "TagsLength.$": "States.ArrayLength($.Properties[?(@.Name==tags)])"
            },
            "Next": "Are there tags?"
          },
          "Are there tags?": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.TagsLength",
                "NumericEquals": 1,
                "Next": "Pull Tags up",
                "Comment": "Yes"
              }
            ],
            "Default": "Set NoTag and NoValue"
          },
          "Pull Tags up": {
            "Type": "Pass",
            "Parameters": {
              "Arn.$": "$.Arn",
              "OwningAccountId.$": "$.OwningAccountId",
              "Region.$": "$.Region",
              "ResourceType.$": "$.ResourceType",
              "Service.$": "$.Service",
              "Tags.$": "$.Tags[0].Data",
              "TagsLength.$": "States.ArrayLength($.Tags[0].Data)"
            },
            "Next": "For each tag"
          },
          "For each tag": {
            "Type": "Map",
            "ItemProcessor": {
              "ProcessorConfig": {
                "Mode": "INLINE"
              },
              "StartAt": "Transform resource to Tag",
              "States": {
                "Transform resource to Tag": {
                  "Type": "Pass",
                  "End": true,
                  "Parameters": {
                    "Join.$": "States.StringToJson(States.Format('\\{\"{}\":\\{\"{}\":[{}]\\}\\}', $.TagKey, $.TagValue,States.JsonToString($.Resource)))"
                  },
                  "OutputPath": "$.Join"
                }
              }
            },
            "ItemsPath": "$.Tags",
            "ItemSelector": {
              "TagKey.$": "$$.Map.Item.Value.Key",
              "TagValue.$": "$$.Map.Item.Value.Value",
              "Resource": {
                "Arn.$": "$.Arn",
                "OwningAccountId.$": "$.OwningAccountId",
                "Region.$": "$.Region",
                "ResourceType.$": "$.ResourceType",
                "Service.$": "$.Service"
              }
            },
            "End": true
          },
          "Set NoTag and NoValue": {
            "Type": "Pass",
            "End": true,
            "Parameters": [
              {
                "NoTag": {
                  "NoValue": [
                    {
                      "Arn.$": "$.Arn",
                      "OwningAccountId.$": "$.OwningAccountId",
                      "Region.$": "$.Region",
                      "ResourceType.$": "$.ResourceType",
                      "Service.$": "$.Service"
                    }
                  ]
                }
              }
            ]
          }
        }
      },
      "ItemsPath": "$.Payload.Result.Resources",
      "Next": "Merge results",
      "ResultPath": "$.Results",
      "ResultSelector": {
        "flatten.$": "$[*][*]"
      }
    },
    "Merge results": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${MERGE_FUNCTION}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Loop over merged results",
      "ResultSelector": {
        "Payload.$": "States.StringToJson($.Payload)"
      }
    },
    "Loop over merged results": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Loop Over Resources",
        "States": {
          "Loop Over Resources": {
            "Type": "Map",
            "ItemProcessor": {
              "ProcessorConfig": {
                "Mode": "INLINE"
              },
              "StartAt": "Transform Data",
              "States": {
                "Transform Data": {
                  "Type": "Pass",
                  "Parameters": {
                    "Join.$": "States.StringToJson(States.Format(' \\{  \"M\": \\{   \"OwningAccountId\": \\{    \"S\":\"{}\" \\},  \"Region\": \\{\"S\":\"{}\"\\},  \"Service\": \\{\"S\":\"{}\"\\},  \"ResourceType\": \\{\"S\":\"{}\"\\},  \"Arn\": \\{\"S\":\"{}\"\\}\\}\\} ', $.Resource.OwningAccountId, $.Resource.Region, $.Resource.Service,$.Resource.ResourceType,$.Resource.Arn))"
                  },
                  "End": true,
                  "OutputPath": "$.Join"
                }
              }
            },
            "ItemsPath": "$.Resources",
            "ItemSelector": {
              "TagName.$": "$.TagName",
              "TagValue.$": "$.TagValue",
              "Resource.$": "$$.Map.Item.Value"
            },
            "Next": "Pass",
            "ResultPath": "$.Resources"
          },
          "Pass": {
            "Type": "Pass",
            "End": true,
            "Parameters": {
              "PutRequest": {
                "Item": {
                  "TagName": {
                    "S.$": "$.TagName"
                  },
                  "TagValue": {
                    "S.$": "$.TagValue"
                  },
                  "Resources": {
                    "L.$": "$.Resources"
                  }
                }
              }
            }
          }
        }
      },
      "Next": "BatchWriteItem",
      "MaxConcurrency": 10,
      "ItemsPath": "$.Results",
      "ResultSelector": {
        "flatten.$": "$[*]"
      }
    },
    "BatchWriteItem": {
      "Type": "Task",
      "Next": "Are there more results?",
      "Parameters": {
        "RequestItems": {
          "SpokeMachineTags.$": "$.flatten"
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:batchWriteItem"
    },
    "Are there more results?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.NextToken",
          "IsPresent": true,
          "Comment": "NextToken : Present",
          "Next": "Drop previous Resources"
        }
      ],
      "Default": "Success"
    },
    "Drop previous Resources": {
      "Type": "Pass",
      "Next": "Search",
      "Parameters": {
        "NextToken.$": "$.NextToken",
        "PreviousResults.$": "$.Results"
      }
    },
    "Success": {
      "Type": "Succeed"
    }
  },
  "Comment": "Runs through the resources and tags of the spoke account."
}